* {
  margin: 0;
  padding: 0;
}
.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: none;
  z-index: 999;
}
.modal {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
}
.modal__close {
  font-family: sans-serif;
  color: #007ac2;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  cursor: pointer;
}
.modal__close:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.modal__head {
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.modal__head__logo {
  height: 50px;
  width: auto;
}
.modal__head__title {
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
}
.modal__content {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 10px;
}
.modal__content ul {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 5px;
  padding-left: 16px;
}
.modal__content ol {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 5px;
  padding-left: 16px;
}
.modal__content a {
  color: #007ac2;
}
.hidden {
  overflow: hidden;
}
.buttonsleft {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.buttonsleft__item {
  background-color: #007ac2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 80px;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
}
.buttonsleft__item * {
  color: white;
}
.buttonsleft__item__icon {
  width: 27px;
}
.buttonsleft__item__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
